_build/
deps/
.elixir_ls/
*.beam
*.ez
*.so
.DS_Store
.env
.env.local
/priv/static/
!/priv/static/js/app.js
!/priv/static/js/phoenix.min.js
!/priv/static/js/phoenix_live_view.min.js
!/priv/static/images/favicon.svg
!/priv/static/images/logo.svg
/cover/
/doc/
/.fetch
erl_crash.dump
.mix_tasks
.env*
!.env.example
/config/*.secret.exs
.gemini/
